@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  padding: 1rem 15%;
  justify-content: space-between;
}

header div {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #f9faf8;
  margin: 0 0.7rem;
}

nav a:hover {
  color: wheat;
  transition: 0.2s ease;
}

.dark {
  background-color: #1f2937;
  color: #f9faf8;
}
