@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  padding: 1rem 15%;
  justify-content: space-between;
}

header div {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #f9faf8;
  margin: 0 0.7rem;
}

nav a:hover {
  color: wheat;
  transition: 0.2s ease;
}

.dark {
  background-color: #1f2937;
  color: #f9faf8;
}

section {
  display: flex;
  padding: 7rem 15%;
}

#main_container {
  width: 50%;
  margin-right: 5%;
}

#main_container h1 {
  font-size: 48px;
  font-weight: 900;
}

#main_container p {
  margin-bottom: 3%;
}

.button {
  text-align: center;
  font-weight: bold;
  width: 7rem;
  padding: 0.5rem;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  transition: 0.2s ease;
}

.button:active {
  background-color: royalblue;
  transition: 0.2s ease;
}

#placeholder {
  width: 50%;
  background-color: #7b7b89;
  display: flex;
  justify-content: center;
  align-items: center;
}

#placeholder p {
  height: 10%;
}

#img_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#img_section h1 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 5%;
}

#images_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#images_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 0 5%;
}

#images_container img {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 5%;
}

#images_container sub {
  text-align: center;
}
